%a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: 0;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

%a11y-visible {
  clip: rect(auto, auto, auto, auto);
  height: inherit;
  margin: inherit;
  overflow: inherit;
  position: static;
  width: inherit;
}