<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Pug test
    link(rel="stylesheet", href="css/style.css")
  body
    h1 #{$t.hello}
    p Using #{$t.lang}

    script(src="js/scripts.js")